body {
	overflow: hidden;
	background-color: #1a1a1a;
	position: relative;
	width: 97vw;
	height: 97vh;
	font-family: 'Exo', sans-serif;
	text-align: center;
	font-size: 16px;
}
header {
	display: block;
	position: absolute;
	top: -4.5vh;
	left: 0;
	width: 100vw;
}
h1 {
	text-align: center;
}
.dropbtn {
	background-color: #1a1a1a;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
.dropdown {
	position: relative;
	display: inline-block;
	margin: -10px;
}
.back {
	width: 35px;
	height: 5px;
	position: relative;
	display: inline-block;
	margin: -6px 15px 0 0;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #1a1a1a;
	width: 70vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: left;
}
.dropdown-content a {
	color: black;
	padding: 12px;
	text-decoration: none;
	display: block;
	font-size: 30px;
}
.dropdown-content a:hover {
	background-color: #1a1a1a;
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
.dropbtn:hover .dropbtn:focus {
	background-color: #1a1a1a;
}
.show {
	display: block;
}
.menu {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	box-shadow: 1px 1px 2px black, 0 0 17px white, 0 0 5px white;
}
#text {
	background: #1a1a1a;
	color: white;
	text-align: justify;
	width: 90vw;
	height: 80vh;
	overflow: scroll;
	position: absolute;
	top: 12vh;
	font-size: 4vw;
	left: 2.5vw;
}
.container {
	max-width: 88vw;
	align-content: center;
}
h2, .field-block {
	margin-top: 1vw;
}

.field-block label, .field-block .field {
	display: block;
	width: 81.5vw;
	margin-left: 3px;
}

.field-block label {
	margin-bottom: 8px;
	font-weight: bold;
}
.field-block .field {
	font-size: 16px;
	padding: 8px 12px;
	line-height: 1.5;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.field-block .field:focus {
  	border-color: #66afe9;
  	outline: 0;
  	box-shadow: inset 0 1px 1px #808080, 0 0 8px white;
}
.field-block textarea {
	resize: vertical;
}
.check-text {
	font-size: 18px;
	vertical-align: top;
}
.button {
	background-color: #808080;
	cursor: pointer;
	font-size: 20px;
	padding: 6px 12px;
	margin-bottom: 5px;
	color: white;
	float: right;
}
#loader {
	display: none;
}
#menu{
	position: absolute;
	top: 14vh;
	width: 100vw;
	text-decoration: none;

}
.list {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;

}
li a {
	text-decoration: none;
	color: white;
	font-size: 10vw;
}



@media screen and (orientation:landscape) {
    body {
    	overflow-x: hidden; 
    	overflow-y: scroll;
		width: 100vw;
		height: 96vh;  
   	}
    header {
    	position: absolute;
		top: -3.7vw;
		left: 0;
    }
    h1 {
		font-size: 6vw;
		text-align: center;
	}
	.container {
		max-width: 86vw;
	}
	.field-block label, .field-block .field {
		width: 84vw;
	}
	#text {
		left: 4vw;
	}
	.check-text {
		vertical-align: middle;
	}
	li a {
		font-size: 5vw;
	}

